In [18]:
root = "../data/raw"
# skip the header when counting
! ls {root}/metadata/*/*.csv
! printf "train\t"; cat {root}/metadata/*/*-Train.csv | tail -n +2 | wc -l
! printf "val\t"; cat {root}/metadata/*/*-Val.csv | tail -n +2 | wc -l
! printf "test\t"; cat {root}/metadata/*/*-Test.csv | tail -n +2 | wc -l

../data/raw/metadata/FungiTastic-FewShot/FungiTastic-FewShot-Test.csv
../data/raw/metadata/FungiTastic-FewShot/FungiTastic-FewShot-Train.csv
../data/raw/metadata/FungiTastic-FewShot/FungiTastic-FewShot-Val.csv

train	7819
val	2285
test	1911

In [21]:
import pandas as pd

train_df = pd.read_csv(
    f"{root}/metadata/FungiTastic-FewShot/FungiTastic-FewShot-Train.csv"
)
display(train_df.head(3))
# now to find the fields that we care about overall
display(train_df.columns)

,eventDate,year,month,day,habitat,countryCode,scientificName,kingdom,phylum,class,...,observationID,region,district,filename,category_id,metaSubstrate,poisonous,elevation,landcover,biogeographicalRegion
0,2021-01-24,2021,1.0,24.0,Mixed woodland (with coniferous and deciduous ...,DK,Xylohypha ferruginosa (Corda) S.Hughes,Fungi,Ascomycota,Eurotiomycetes,...,3052832307,Sjælland,Næstved,0-3052832307.JPG,2421,wood,0,0.0,16.0,continental
1,2021-02-27,2021,2.0,27.0,garden,DK,"Comatricha alta Preuss, 1851",Protozoa,Mycetozoa,Myxomycetes,...,3061954303,Hovedstaden,Gribskov,0-3061954303.JPG,386,wood,0,0.0,17.0,continental
2,2021-02-27,2021,2.0,27.0,garden,DK,"Comatricha alta Preuss, 1851",Protozoa,Mycetozoa,Myxomycetes,...,3061954303,Hovedstaden,Gribskov,1-3061954303.JPG,386,wood,0,0.0,17.0,continental

Index(['eventDate', 'year', 'month', 'day', 'habitat', 'countryCode',
       'scientificName', 'kingdom', 'phylum', 'class', 'order', 'family',
       'genus', 'specificEpithet', 'hasCoordinate', 'species',
       'iucnRedListCategory', 'substrate', 'latitude', 'longitude',
       'coorUncert', 'observationID', 'region', 'district', 'filename',
       'category_id', 'metaSubstrate', 'poisonous', 'elevation', 'landcover',
       'biogeographicalRegion'],
      dtype='object')

In [26]:
df = train_df
for col in [
    "scientificName",
    "kingdom",
    "phylum",
    "class",
    "order",
    "family",
    "genus",
    "specificEpithet",
]:
    # lower the column and then count uniques
    count = df[col].str.lower().nunique()
    print(f"{col}: {count} unique values")

# show all the unique kingdoms
df["kingdom"].unique()

scientificName: 2427 unique values
kingdom: 3 unique values
phylum: 11 unique values
class: 32 unique values
order: 123 unique values
family: 364 unique values
genus: 1014 unique values
specificEpithet: 2158 unique values

array(['Fungi', 'Protozoa', 'Chromista'], dtype=object)